*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    display: flex; /*esnek yapıya giriyor ve hizalıyoruz*/
    justify-content: center;
    align-items: center;
}

.center .profile img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 5%;
}

.center{
    width: 600px;
    background-color: rgba(14, 2, 34, 0.7);
    height: 550px;
    text-align: center;
    border-radius: 15px;
}

.content{
    padding: 30px;
}

h1{
    color: rgb(188, 169, 231);
}

.content h2, p{
    font-weight: lighter;
    letter-spacing: 1px;
    width: 80%;
    margin: 10px auto;
}

.content h3{
    margin-top: 20px;
}

.socialmedia i{
    padding: 0 10px;
    font-size: 50px;
    color: rgba(188, 169, 231, 0.5);
    transition: 0.4s;
}

.socialmedia i:hover{
    color: rgba(188, 169, 231, 0.9);
}

@media screen and (max-width: 700px){
    .center{
        width: 300px;
        height: 550px;
    }

    h1{
        font-size: 22px;
    }

    h2{
        font-size: 16px;
    }

    p{
        width: 90%;
        font-size: 12px;
    }

    h3{
        font-size: 14px;
    }

    .socialmedia a i{
        font-size: 35px;
        padding: 0 5px;
    }
}